*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

section.Faq {
  width: 100%;
  height: 100vh;
  background-color: #21192b;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    0 4%,
    21% 0,
    47% 4%,
    71% 0,
    100% 3%,
    100% 100%,
    78% 100%,
    45% 100%,
    19% 100%,
    0 100%
  );
  position: relative;
}
section.Faq::before {
  content: '';
  position: absolute;
  background: #342b3f;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
}

.title1 {
  font-size: 30px;
  color: #f7f7f7;
  font-weight: 800;
  text-align: center;
  padding-bottom: 34px;
}

.container1 {
  width: 100%;
  max-width: 80rem;
  padding: 0 auto;
  padding: 0 1.5rem;
}

.accodion-item1 {
  background-color: #283042;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.accordion-link1 {
  font-size: 1.6rem;
  color: #fcfcfc;
  text-decoration: none;
  background-color: #373040;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-radius: 10px;
  margin: 10px 0px 10px;
  padding-left: 12px;
}

.accordion-link1 ion-icon {
  color: #e7d5ff;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.accordion-link1 .up1 {
  display: none;
}

.answer1 {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #373040;
  transition: max-height 650ms;
  border-radius: 10px;
}

.answer1::before {
  content: '';
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #d63737;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer1 p {
  color: #fcfcfc;
  font-size: 1.4rem;
  padding: 2rem;
}

.accordion-item1:target .answer1 {
  max-height: 20rem;
  margin-left: auto;
}

.accordion-item1:target .accordion-link1 .down1 {
  display: none;
}
.accordion-item1:target .accordion-link1 .up1 {
  display: block;
}
