.mentor-talks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 300px;
  background: #f6f9fd;
  color: #ff5148;
  font-family: 'MetropolisRegular';
  position: relative;
}
.stylish-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 4rem;
  background: -webkit-linear-gradient(#ff5148, #ad201a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3vw;
  text-transform: uppercase;
}

.mentor-talks .heading {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 50px;
  cursor: pointer;
}
.mentor-talks .heading-sm {
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: default;
  font-weight: normal;
}
@media (max-width: 400px) {
  .mentor-talks .heading {
    font-size: 3.7rem;
  }
  .mentor-talks .heading-sm {
    font-size: 1.5rem;
  }
}
