.workshop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 300px;
  background: #21192b;
  color: #f7f7ff;
  font-family: 'MetropolisRegular';
  /* margin-bottom: 3.4rem; */
  position: relative;
}
.workshop .heading {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 50px;
  cursor: pointer;
}
.workshop .heading-sm {
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: default;
  font-weight: normal;
}
@media (max-width: 400px) {
  .workshop .heading {
    font-size: 3.7rem;
  }
  .workshop .heading-sm {
    font-size: 1.5rem;
  }
}
